.form {
    width: 500px;
    height: 400px;
    background-color: #1D7074;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    margin: 150px auto;
    border: solid black;
}

.registerText  {
    color: white;
    font-size: 30px;
    font-weight: 500;

}

.label {
    color: white;
    display: flex;
    gap: 5px;
    font-size: 20px;
    flex-direction: column;

}

.buttons {
    display: flex;
    gap: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.forget {
    font-size: 15px;
    width: 150px;



}

.link {
    color: white;
}

