.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px !important;
    background-color: #005f64 !important;
}

.carCar {
    margin: 0 auto;
    font-size: 25px;
    color: white;
}