.container {
    margin: 20px 0 0 20px;
    width: fit-content;
}

.form {
display: flex;
    flex-direction: column;
    gap: 10px;
}

.smallContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resetText {
    font-size: 20px;
    font-weight: 500;
}

.formGroup {
display: flex;
    gap: 10px;
    flex-direction: column;
}

.button {
    cursor: pointer;
    background-color: #013c68;
    color: white;
    border-radius: 5px;
    height: 30px;
}